* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
li {
  text-decoration: none;
  list-style-type: none;
}
html {
  font-family: "Roboto", sans-serif;
  
  overflow-x: hidden;
}


